<head>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/ClientApp/app.js"></script>
    <script src="~/ClientApp/Controller/MainController.js"></script>

</head>

<body>
    <div ng-app="myApp">

    </div>

</body>