<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AWSProfileName" value="test" />
    <add key="AWSAccessKey" value="00df82c7d59dad558e79" />
    <add key="AWSSecretKey" value="xzTvskteSe126EMSCiMyWeezYh2OJ6teT77pMYh5" />
  </appSettings>
  </configuration>